@model PizzeriaMassagotti.Models.CartItem
@inject PizzeriaMassagotti.Services.DishService _dishService
@inject PizzeriaMassagotti.Services.CartService _cartService

<div>
    <table>
        <tr>
            <td>
                <p>@Model.Dish.Name @Model.Dish.Price @Model.Quantity</p>
                @foreach (var item in Model.Dish.DishIngredients)
                {
                    <p>@item.Ingredient.Name</p>
                }
               
            </td>
            <td>
                <button type="submit" class="buy" name="increase-@Model.DishId">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </button>
                <button type="submit" class="buy" name="decrease-@Model.DishId">
                    <span class="glyphicon glyphicon-minus-sign"></span>
                </button>
                <button type="submit" class="buy" name="delete-@Model.DishId">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    </table>
</div>