@model PizzeriaMassagotti.Models.CartItem
@inject PizzeriaMassagotti.Services.DishService _dishService
@inject PizzeriaMassagotti.Services.CartService _cartService

<section class="cartitem-container">
    <table class="table table-hover">

        <tr>
            <td class="col-md-3">
              
                <span>
                    <button id="increase" type="submit" class="buy no-background" name="increase-@Model.CartItemId">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                    </button>
                </span>

                    <span>@Model.Quantity</span>

                    <button id="decrease" type="submit" class="buy no-background" name="decrease-@Model.CartItemId">
                        <i class="glyphicon glyphicon-minus-sign"></i>
                    </button>
              
            </td>

            <td class="col-md-4 cartitem-name">@Model.Dish.Name</td>
            <td class="col-md-3 cartitem-price">@(Model.Price + " SEK")</td>
            <td class="col-md-1">
                <button id="customize" type="submit" class="buy" name="customize-@Model.CartItemId">
                    <i class="glyphicon glyphicon-edit"></i>
                </button>
            </td>
            <td class="col-md-1">
                <button id ="delete" type="submit" class="buy" name="delete-@Model.CartItemId">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </td>
        </tr>
    </table>

    <div >
        <p class="cartitem_ingredients">
            @foreach (var item in _cartService.All(Model.CartItemId))
            {
                @(item.Ingredient.Name + " ")
            }
        </p>
    </div>                   
</section>
