@model List<PizzeriaMassagotti.Models.Category>


    @foreach (var Category in Model)
    { 
        <h3>@Category.Name</h3>
        @foreach (var dish in Category.Dishes)
        {
            Html.RenderPartial("_Dish", dish);
        }
       
    }