@model List<PizzeriaMassagotti.Models.Category>


    @foreach (var Category in Model)
    {
        <section class="menu">
            <h3>@Category.Name</h3>
            @foreach (var dish in Category.Dishes)
            {
                Html.RenderPartial("_Dish", dish);
            }
        </section>
    }
    