@model PizzeriaMassagotti.Models.ShoppingCart
@inject PizzeriaMassagotti.Services.CartService _cartService

<div class="shoppingcart-container">
    <div class="col-md-10 sh">
        @foreach (var item in Model.CartItems)
        {
            Html.RenderPartial("_CartItem", item);
        }


        @if (_cartService.TotalAmount(Model.ShoppingCartId) > 0)
        {
            <div class="total-price">
                <h4>To pay: @_cartService.TotalAmount(Model.ShoppingCartId)</h4>
            </div>
            
            <form asp-controller="Order" asp-action="Edit" method="post">
                <input id ="proceed-to-checkout" type="submit" class="btn btn-default" name="pay-@Model.ShoppingCartId" value="Proceed to checkout" />
            </form>

        }
    </div>
</div>


