@model PizzeriaMassagotti.Models.ShoppingCart
@inject PizzeriaMassagotti.Services.CartService _cartService


@foreach (var item in Model.CartItems)
{
    Html.RenderPartial("_CartItem", item);
}
<h5>@_cartService.TotalAmount(Model.ShoppingCartId)</h5>