@model PizzeriaMassagotti.Models.Dish

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>


    <h4>Dish</h4>
    <hr />
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Ingredients</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                    <td>@Html.DisplayFor(model => model.Category.Name)</td>
                    <td>@Html.DisplayFor(model => model.Price)</td>
                    <td>
                        @{string s = "";
                            foreach (var di in Model.DishIngredients)
                            {
                                s += di.Ingredient.Name + ",";
                            }
                            s = s.TrimEnd(',');
                        }@s
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DishId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
