.dish-container .container {
  padding-left: 0px; }

.cartitem-container {
  margin-bottom: 10px; }
  .cartitem-container #increase:hover {
    color: green; }
  .cartitem-container #decrease:hover {
    color: green; }
  .cartitem-container #customize:hover {
    color: green; }
  .cartitem-container #delete:hover {
    color: darkred; }
  .cartitem-container table.table-hover {
    margin: 0px; }
  .cartitem-container tr {
    border-bottom: hidden;
    background-color: lightyellow;
    color: darkgoldenrod; }
    .cartitem-container tr .cartitem-name {
      color: darkgoldenrod; }
    .cartitem-container tr .cartitem-price {
      color: darkgoldenrod; }
  .cartitem-container .cartitem_ingredients {
    background-color: #f5f5f5;
    color: darkgoldenrod;
    font-size: smaller;
    font-style: italic; }
    .cartitem-container .cartitem_ingredients p:hover {
      background-color: #f5f5f5; }
  .cartitem-container button.buy.no-background {
    padding: 0;
    border: hidden;
    background-color: lightyellow; }

.shoppingcart-container #proceed-to-checkout {
  color: darkgoldenrod;
  /*background-color:lightyellow;*/
  border-color: darkgray; }
  .shoppingcart-container #proceed-to-checkout:hover {
    color: green; }

.shoppingcart-container .total-price {
  border-top: groove 1px;
  border-color: lightgray;
  text-align: end; }

.lead {
  background-color: darkgrey;
  border-radius: 50%;
  width: 95%;
  height: auto;
  padding-top: 25%;
  padding-bottom: 25%;
  margin-top: 20px;
  margin-right: 10px;
  text-align: center;
  /*font-family:Castellar;
    font-style:italic;
    font-style:oblique;*/ }

.homepage-container {
  margin-top: 20px; }
  .homepage-container .make-order {
    background-color: #f5f5f5;
    box-shadow: 10px 10px 5px #888888; }

.order .table {
  margin-bottom: 40px; }

.order h4 {
  padding-top: 10px;
  border-top: groove 2px darkgoldenrod;
  text-align: end;
  color: darkgoldenrod; }

.order .name-address {
  padding-top: 20px; }

.order .creditcard {
  padding-top: 20px; }

