.cartitem-container tr {
  border-bottom: hidden;
  background-color: lightyellow;
  color: darkgoldenrod; }

.cartitem-container .cartitem_ingredients {
  background-color: lightyellow;
  color: darkgoldenrod; }

