@model PizzeriaMassagotti.Models.Ingredient
@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <h2>Details</h2>
    <div class="col-md=6">
        <h4>Ingredient</h4>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th >Price</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-md-2">@Html.DisplayFor(model => model.Name)</td>
                    <td class="col-md-2">@Html.DisplayFor(model => model.Price)</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.IngredientId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>
