.order {
    .table {
        margin-bottom: 40px;
    }

    h4 {
        padding-top: 10px;
        border-top: groove 2px darkgoldenrod;
        text-align:end;
        color:darkgoldenrod;

    }

    .name-address {
        padding-top: 20px;
    }

    .creditcard {
        padding-top: 20px;
    }
}
