.shoppingcart-container {

    #proceed-to-checkout {
        /*background-color:lightyellow;*/
        border-color: darkgray;
        

        &:hover {
            color: green;
        }
    }

    .total-price {
        border-top: groove 1px;
        border-color: lightgray;
        text-align: end;
    }
}
