@model List<PizzeriaMassagotti.Models.Category>
@inject PizzeriaMassagotti.Services.CartService _cartService


@{
    ViewData["Title"] = "Home Page";
}
<section class="homepage-container">
    <div class="col-md-12 pull-right">
        <h2 class="col-md-offset-6">Menu</h2>
    </div>

    <form asp-controller="Home" asp-action="MakeOrderAction" method="post">

        <div class="col-md-6">
            @*<div class="col-md-6">*@
                @{
                    Html.RenderPartial("_ShoppingCart", _cartService.GetCart());
                }
            @*</div>*@
        </div>
        <div class="col-md-6 make-order">
            @*<div class="col-md-6">*@
                @*<h2>Menu</h2>*@
                @{
                    Html.RenderPartial("_MakeOrder", Model);
                }
            @*</div>*@
        </div>


    </form>

</section>

